---
// data
import siteData from "@config/siteData";

---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="nav__link--base">
	<div class="font-heading-1 text-xl uppercase">{siteData.name}</div>
</a>
